<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.springmvc.dao.JhacApiMapper">
	<resultMap id="BaseResultMap" type="cn.springmvc.model.JhacApi">
		<id column="a_id" property="aId" jdbcType="INTEGER" />
		<result column="a_name" property="aName" jdbcType="VARCHAR" />
		<result column="a_url" property="aUrl" jdbcType="VARCHAR" />
		<result column="a_type" property="aType" jdbcType="VARCHAR" />
		<result column="a_param" property="aParam" jdbcType="VARCHAR" />
		<result column="a_description" property="aDescription"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		a_id, a_name, a_url, a_type, a_param, a_description
	</sql>

	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from jhac_api
		where a_id = #{aId,jdbcType=INTEGER}
	</select>

	<select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from jhac_api
	</select>

	<select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(*)
		from jhac_api
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from jhac_api
		where a_id
		= #{aId,jdbcType=INTEGER}
	</delete>


	<insert id="insert" parameterType="cn.springmvc.model.JhacApi">
		insert into jhac_api
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="aId != null">
				a_id,
			</if>
			<if test="aName != null">
				a_name,
			</if>
			<if test="aUrl != null">
				a_url,
			</if>
			<if test="aType != null">
				a_type,
			</if>
			<if test="aParam != null">
				a_param,
			</if>
			<if test="aDescription != null">
				a_description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="aId != null">
				#{aId,jdbcType=INTEGER},
			</if>
			<if test="aName != null">
				#{aName,jdbcType=VARCHAR},
			</if>
			<if test="aUrl != null">
				#{aUrl,jdbcType=VARCHAR},
			</if>
			<if test="aType != null">
				#{aType,jdbcType=VARCHAR},
			</if>
			<if test="aParam != null">
				#{aParam,jdbcType=VARCHAR},
			</if>
			<if test="aDescription != null">
				#{aDescription,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="cn.springmvc.model.JhacApi">
		update jhac_api
		<set>
			<if test="aName != null">
				a_name = #{aName,jdbcType=VARCHAR},
			</if>
			<if test="aUrl != null">
				a_url = #{aUrl,jdbcType=VARCHAR},
			</if>
			<if test="aType != null">
				a_type = #{aType,jdbcType=VARCHAR},
			</if>
			<if test="aParam != null">
				a_param = #{aParam,jdbcType=VARCHAR},
			</if>
			<if test="aDescription != null">
				a_description = #{aDescription,jdbcType=VARCHAR},
			</if>
		</set>
		where a_id = #{aId,jdbcType=INTEGER}
	</update>


</mapper>